@import '@/index.css';

.inputContainer {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.input {
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  height: 52px;
  border-radius: 12px;
  border-style: solid;
  padding: 16px;
  font-family: 'onest', sans-serif;
  font-size: 16px;
}

.eyeIcon {
  position: absolute;
  right: 13px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

input:focus {
  outline: none;
}

.helperText {
  margin-top: 4px;
  line-height: 1.2;
  font-size: 16px;
  color: var(--error_stroke-color);
}

/* variants */

.default {
  background-color: var(--bg_white-color);
  border-width: 1px;
  border-color: var(--tertiary_stroke-color);
}
.defaultPasswordEyeOn {
  background-color: var(--bg_white-color);
  border-width: 1px;
  border-color: var(--tertiary_stroke-color);
}
.active {
  background-color: var(--bg_white-color);
  border-width: 2px;
  border-color: var(--accent-color);
}
.activePassword {
  background-color: var(--bg_white-color);
  border-width: 2px;
  border-color: var(--accent-color);
}
.afterActive {
  background-color: var(--bg_white-color);
  border-width: 1px;
  border-color: var(--tertiary_stroke-color);
}
.error {
  background-color: var(--error_bg-color);
  border-width: 2px;
  border-color: var(--error_stroke-color);
  .eyeIcon {
    top: 20%;
  }
}
.disabled {
  background-color: var(--input_bg_disabled-color);
  border-width: 1px;
  border-color: var(--tertiary_stroke-color);
  cursor: not-allowed;
  pointer-events: none;
}
