.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition:
    background-color 0.3s,
    color 0.3s;
  white-space: nowrap;
  width: 400px;
  height: 52px;
  padding: 16px 207px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 500;
  text-transform: none;
  border: none;
}

.button:hover {
  filter: brightness(0.9);
}

.button:disabled {
  pointer-events: none;
  opacity: 0.5;
}
