.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition:
    background-color 0.3s,
    color 0.3s;
  white-space: nowrap;
}

.button:hover {
  filter: brightness(0.9);
}

.button:disabled {
  pointer-events: none;
}
